<p-card>
<div class="">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Xuất ra excel" icon="pi pi-download" class="p-button-success mr-2" (click)="exportToExcel()"></button>
        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="listOrder" [rows]="10" [paginator]="true" [globalFilterFields]="['fullname','address','phone_number']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between   ">
                <h5 class="m-0">Quản lý đơn hàng</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Tìm kiếm" />
                </span>
                <button class="btn btn-primary">Xác nhận tất cả</button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">tên người dùng <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="country">Quốc gia<p-sortIcon field="country"></p-sortIcon></th>
                <th pSortableColumn="address">Địa chỉ <p-sortIcon field="address"></p-sortIcon></th>
                <!-- <th pSortableColumn="town">Town/City <p-sortIcon field="town"></p-sortIcon></th>
                <th pSortableColumn="state">Country/State<p-sortIcon field="state"></p-sortIcon></th> -->
                <!-- <th pSortableColumn="postcode">Postcode/Zip <p-sortIcon field="postcode"></p-sortIcon></th> -->
                <th pSortableColumn="phone">Số điện thoại <p-sortIcon field="phone"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="total_money">Tổng tiền <p-sortIcon field="price"></p-sortIcon></th>
                <th style="min-width:10rem">Trạng thái</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order let-i="rowIndex">
            <tr>
                <td style="width: 4rem">
                    <p-tableCheckbox [value]="order"></p-tableCheckbox>
                </td>
                <td>{{order.fullname}} {{order.lastname}}</td>
                <td>{{order.country}}việt nam</td>
                <td>{{order.address}}</td>
                <td>{{order.phone_number}}</td>
                <td>{{order.email}}</td>
                <td>{{order.total_money}}</td>
                <td><button pButton type="button" [label]="order.status" class="p-button-success" (click)="changeStatusOrder(i)"></button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
</p-card>