<div class="container">
    <!-- <div class="intro-section">
        <div style="">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
        </div>
        <h1>Đây là trang Order</h1>
        <p>sử dụng bootstrap</p>
    </div> -->
    <div class="intro-section">
        <div class="d-flex w-100">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-arrow-left" style="font-size: 23px"></i>
                <!-- <svg data-v-5273d083="" width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path data-v-5273d083="" d="M19 8.5L1 8.5M1 8.5L8 1M1 8.5L8 16" stroke="#121219" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg> -->
            </a>
            <h1 class="mx-auto">Đây là trang Order</h1>
        </div>
        <p>sử dụng bootstrap</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-thongtin">
                <h6>THÔNG TIN KHÁCH HÀNG</h6>
                <div class="form-control custom-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" placeholder="Họ và Tên">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" id="exampleInputSDT" aria-describedby="emailHelp" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập Email(Không bắt buộc)">
                        </div>
                    </div>
                </div>
                <h6>THÔNG TIN NHẬN HÀNG</h6>
                <div class="form-control custom-form">
                    <div class="row">
                        <div class="col-md-6 form-group" >
                            <!-- <input type="text" class="form-control custom-input" id="InputTinh_Thanhpho" placeholder="Tỉnh / Thành Phố" > -->
                            <form [formGroup]="formGroup" >
                                <mat-form-field class="my-custom-form-field">
                                    <input
                                    type="text"
                                    placeholder="Chọn tỉnh/thành phố"
                                    aria-label="Number"
                                    matInput
                                    [matAutocomplete]="autoProvince"
                                    formControlName="employee"
                                  />
                                  <mat-label>Tỉnh/Thành Phố</mat-label>
                                    <mat-autocomplete #autoProvince="matAutocomplete">
                                        <mat-option class="my-option" *ngFor=" let item of filteredProvinces" [value]="item.province_name">{{item.province_name}}</mat-option>
                                    </mat-autocomplete>
                               </mat-form-field> 
                            </form> 
                        </div>
                        <div class="col-md-6 form-group">
                            <!-- <input type="text" class="form-control custom-input" id="InputQuan_huyen"  placeholder="Quận / Huyện"> -->
                            <form [formGroup]="formGroup">
                                <mat-form-field class="my-custom-form-field">
                                    <mat-label>Quận/huyện</mat-label>
                                    <input
                                    type="text"
                                    placeholder="Chọn huyện"
                                    aria-label="Number"
                                    matInput
                                    [matAutocomplete]="autoDistrict"
                                    formControlName="district"
                                  />
                                    <mat-autocomplete #autoDistrict="matAutocomplete">
                                        <mat-option class="my-option" *ngFor=" let item of filteredDistricts" [value]="item.district_name">{{item.district_name}}</mat-option>
                                    </mat-autocomplete>
                               </mat-form-field>  
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group ">
                            <!-- <input type="text" class="form-control custom-input" id="InputEmail" aria-describedby="emailHelp" placeholder="Phường/xã"> -->
                            <form [formGroup]="formGroup" >
                                <mat-form-field class="my-custom-form-field">
                                    <mat-label>Phường/Xã</mat-label>
                                    <input
                                    type="text"
                                    placeholder="Chọn Phường/Xã"
                                    aria-label="Number"
                                    matInput
                                    [matAutocomplete]="autoWard"
                                    formControlName="ward"
                                  />
                                    <mat-autocomplete #autoWard="matAutocomplete">
                                        <mat-option class="my-option" *ngFor=" let item of filteredWards" [value]="item.ward_name">{{item.ward_name}}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field> 
                            </form>  
                        </div>
                        <div class="col-md-6 form-group">
                            <!-- <input type="text" class="form-control custom-input" id="InputSoNha_tenduong" aria-describedby="emailHelp" placeholder="Số nhà,tên đường">  -->
                            <mat-form-field class="my-custom-form-field">
                                <mat-label>Số nhà/tên đường</mat-label>
                                <input
                                type="text"
                                placeholder="số nhà,tên đường"
                                aria-label="Number"
                                matInput
                              />
                                <!-- <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option class="my-option" *ngFor=" let item of options" [value]="item">{{item}}</mat-option>
                                </mat-autocomplete> -->
                           </mat-form-field> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control custom-input" id="note" placeholder="Ghi chú (Nếu có)">
                        </div>
                    </div>
                </div>
                
                <div style="height: 200px;">
                    <!-- <form class="form-control custom-input"> -->
                    <!-- </form> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-sanpham">
                <h6>THÔNG TIN ĐƠN HÀNG</h6>
                <div class="form-control custom-form">
                    <div class="product-order">
                        <div class="row mb-3 mx-auto">
                            <!-- Sản phẩm 1 -->
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mb-3 mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mb-3 mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mb-3 mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mb-3 mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-tongtien mt-auto" >
                <div class="tinhtien" >                
                    <h6>TỔNG TIỀN:</h6>
                    <div class="giatien">
                       <p>{{100000|currency:'VND'}}</p>
                    </div>
                </div>
                <button class="btn btn-danger" >Tiếp tục</button>
            </div>
        </div>
    </div>
</div>
