.intro-section{
    text-align: center;
    // color: white;
    padding:20px 0px 20px 0px;
    justify-content:center; 
    align-items:center; 
}
.custom-form{
    border: 1px solid rgb(188, 188, 192);
    margin-block-end: 20px;
    padding: 10px;
}
.custom-input {
    border: none;
    border-bottom: 1px solid #F4F6F8;
    border-radius: 0;
    box-shadow: none;
    transition: border-bottom 0.5s ease-in-out;
    // border-bottom:;
  
    &:focus {
      outline: none;
      border-bottom: 1px solid #1C173C;
    }
  }
.form-control input{
    padding-left:0px;
    margin-bottom: 5px;
    // padding: 0;
}
.product-order{
    // padding: 20px;
    
}
.product-order img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Giữ nguyên tỷ lệ của ảnh */
  }
.red-text{
    color: red;
    font-weight: 500;
}
.giatien{
    font-weight: 500;
}
.form-tongtien {
  position: fixed;
  bottom: 0;
  width: 100%; /* Ensure it spans the full width of the page */
}
.tinhtien{
    display: flex;
    justify-content: space-between;
}
.tinhtien h6{
    line-height: 1.5;
}
.form-tongtien .btn{
    width: 100%;
}
@media screen and (max-width: 2000px) {
    .form-tongtien {
      position: sticky;
    //   position: fixed;
      bottom: 0;
      width: 100%;
    //   max-width: 100%;
      box-sizing: border-box;
      overflow-x: auto;
      background-color: white;
      border-radius: 5px;
      box-shadow: #544c86 0px 0px 10px;
      padding: 10px;
      color: #1C173C;
    }
  }
