.intro-section{
    text-align: center;
    // color: white;
    padding:20px 0px 20px 0px;
    justify-content:center; 
    align-items:center; 
}
.custom-form{
    // border: 1px solid rgb(188, 188, 192);
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    margin-block-end: 20px;
    padding: 10px;
}
.custom-input {
    border: none;
    border-bottom: 1px solid #F4F6F8;
    border-radius: 0;
    box-shadow: none;
    transition: border-bottom 0.25s ease-in-out;
    // border-bottom:;
  
    &:focus {
      outline: none;
      border-bottom: 1px solid rgb(119, 113, 113);
    }
  }
.form-control input{
    padding-left:0px;
    margin-bottom: 5px;
    // padding: 0;
}
.product-order{
    // padding: 20px;
    
}
.product-order img {
    width: 100px;
    height: 100px;
    object-fit: cover; /* Giữ nguyên tỷ lệ của ảnh */
  }
.red-text{
    color: red;
    font-weight: 500;
}
.giatien{
    font-weight: 500;
}
.form-tongtien {
  position: fixed;
  bottom: 0;
  width: 100%; /* Ensure it spans the full width of the page */
}
.tinhtien{
    display: flex;
    justify-content: space-between;
}
.tinhtien h6{
    line-height: 1.5;
}
.form-tongtien .btn{
    width: 100%;
}
@media screen and (max-width: 2000px) {
    .form-tongtien {
      position: sticky;
    //   position: fixed;
      bottom: 0;
      width: 100%;
    //   max-width: 100%;
      box-sizing: border-box;
      overflow-x: auto;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
      padding: 10px;
      color: #1C173C;
    }
  }
// css inputform
 ::ng-deep .my-custom-form-field{
    width: 100%;
    margin-bottom: 10px;
    --mat-form-field-filled-with-label-container-padding-top: 18px;
    --mat-form-field-filled-with-label-container-padding-bottom: 0;
    --mat-form-field-container-height: auto;
    // --mdc-filled-text-field-container-color: rgb(255, 255, 255);
    // --mdc-filled-text-field-active-indicator-color: rgba(184, 180, 180, 0.42);
    // --mat-full-pseudo-checkbox-unselected-icon-color: rgba(184, 180, 180, 0.42);
    // --mdc-theme-primary: blue !important;
    input{
        margin-bottom: 4px !important;
        // line-height: 10;
    }
    .mdc-text-field {
        padding-left: 0;
    }
    .mat-mdc-form-field-subscript-wrapper{
        width: 50%;
        height: 1px;
    }
    .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent !important; 
      }
      .mat-mdc-form-field-focus-overlay {
        background-color: transparent !important;
      }
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom: rgb(231, 228, 228) 1px solid !important;
      }
      .mdc-text-field--filled .mdc-line-ripple::after{
        border-bottom: rgb(119, 113, 113) 1px solid !important;
      }
      .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: rgb(255, 0, 0) !important;
        
      }
      .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: rgb(19, 18, 18) !important;
      }
      .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
        top: 20px !important;
        left: 0px !important;
        font-size: medium;
      }
    //   .mat-form-field-label {
    //     transform: translateY(-50%);
    // }
 }
 ::ng-deep .my-option {
    min-height: 36px !important; /* or any other value */
    .mat-option-text {
        height: 50px !important; /* or any other value */
        line-height: 50px !important; /* or any other value */
    }
} 