.intro-section{
    // color: white;
    padding-top: 20px;
    // padding-bottom: 10px;
    text-align: center;
}
.product-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.thumbnail-item{
    width: 120px;
    height: 120px;
    margin-right: 5px; /* thêm khoảng cách ngang giữa các bức ảnh */
}
.thumbnail-item:last-child{
    margin-right: 0; /* xóa khoảng cách ngang ở ảnh cuối cùng*/
}
.thumbnail-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail-item.active img{
    border: 2px solid;
}
.product-details{
    padding: 20px;
    // color: white;
}
.product-actions{
    display: flex;
    justify-content: flex-start;
    // align-items: center;
    margin-top: 20px;
}
.product-actions button{
    margin-right: 10px;
}
.border-wrapper{
    border: 1px solid;
}
.product-quanlity{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.product-quanlity button{
    background-color: transparent;
    border: none;
    // color: white;
    color: inherit;
    font-size: 16px;
    align-items: center;
    cursor: pointer;
}
.product-quanlity input{
    background-color: transparent;
    border: none;
    width: 40px;
    text-align: center;
    // color: white;
    color: inherit;
    font-size: 16px;
    margin: 0 10px;
}
.product-quanlity input:focus{
    outline: none;
}
//review css
.icon{
    width: 24px;
    height: 24px;
    color: #ffbf00;
}
.review-list ul li .left span {
    width: 32px;
    height: 32px;
    display: inline-block;
}
.review-list ul li .left {
    flex: none;
    max-width: none;
    margin: 0 10px 0 0;
}
.review-list ul li .left span img {
    border-radius: 50%;
}
.review-list ul li .right h4 {
    font-size: 16px;
    margin: 0;
    display: flex;
}
.review-list ul li .right h4 .gig-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #ffbf00;
}
.review-list ul li .right h4 .gig-rating svg {
    margin: 0 4px 0 0px;
}
.country .country-flag {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin: 0 7px 0 0px;
    border: 1px solid #fff;
    border-radius: 50px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.country .country-name {
    color: #95979d;
    font-size: 13px;
    font-weight: 600;
}
.review-list ul li {
    border-bottom: 1px solid #dadbdd;
    padding: 0 0 30px;
    margin: 0 0 30px;
}
.review-list ul li .right {
    flex: auto;
}
.review-list ul li .review-description {
    margin: 20px 0 0;
}
.review-list ul li .review-description p {
    font-size: 14px;
    margin: 0;
}
.review-list ul li .publish {
    font-size: 13px;
    color: #95979d;
}

.review-section h4 {
    font-size: 20px;
    color: #222325;
    font-weight: 700;
}
.review-section .stars-counters tr .stars-filter.fit-button {
    padding: 6px;
    border: none;
    color: #4a73e8;
    text-align: left;
}
.review-section .fit-progressbar-bar .fit-progressbar-background {
    position: relative;
    height: 8px;
    background: #efeff0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
   ;
    border-radius: 999px;
}
.review-section .stars-counters tr .star-progress-bar .progress-fill {
    // background-color: #ffb33e;
    background:linear-gradient(to bottom right,#4fc4a6,#14366f); 
}
.review-section .fit-progressbar-bar .progress-fill {
    background: #2cdd9b;
    background-color: rgb(29, 191, 115);
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: 999px;
}
.review-section .fit-progressbar-bar {
    display: flex;
    align-items: center;
}
.review-section .stars-counters td {
    white-space: nowrap;
}
.review-section .stars-counters tr .progress-bar-container {
    width: 100%;
    padding: 0 10px 0 6px;
    margin: auto;
}
.ranking {
    
}
.review-section .stars-counters td.star-num {
    color: #4a73e8;
}

.review-section {
    border-bottom: 1px solid #dadbdd;
    padding-bottom: 24px;
    margin-bottom: 34px;
    padding-top: 20px;
}
.review-section select, .review-section .select2-container {
    width: 188px !important;
    border-radius: 3px;
}
ul, ul li {
   list-style: none;
   margin: 0px;
}
.helpful-thumbs, .helpful-thumb {
   display: flex;
   align-items: center;
   font-weight: 700;
}
// comment css
.comment-wrapper .panel-body {
    // max-height:650px;
    // overflow:auto;
    hr{
        margin-top: 13px;
        margin-bottom: 10px;
    }
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    // border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}
.media-list{
    padding-left: 0;
    max-height:600px;
    overflow:auto;
}
.media-list .media{
    padding: 15px;
    border: 1px solid #e5e7e8;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgb(255, 255, 255);
}
textarea:focus{
    box-shadow: none;
}