header {
    // background-color: rgba(0, 0, 0, 0);
    // color: rgb(173, 178, 203);
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* Đảm bảo header luôn nằm trên các phần tử khác */
}
header{
    // background: rgb(14,17,36);
    // color: #dfe6e9;
  }

// .fake-header {
//     height: 76px;
// }
.navbar-nav .nav-item .nav-link{
    color: unset;
}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}
.navbar .container .navbar-brand {
    // color: rgb(173, 178, 203);
}

.navbar .container .navbar-nav .nav-link {
    // color: rgb(173, 178, 203);
    // color: rgb(0,0,0 ) !important;
    font-weight: 500;
    border-radius: 18px;
    padding: 8px 16px;
    transition: 1s;
}

.navbar .container .navbar-nav .nav-link.active {
    // background-color: rgb(127, 68, 255);
    // background: red;
    background:linear-gradient(to bottom left,#4ec9aa,#4370be);
    transition: 1s;
    // color: white ;
}
.navbar-toggler{
    color: rgb(127, 68, 255);
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(173, 178, 203)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
// css for dark mode
.toggle {
    display: none;
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    cursor: pointer;
}

.sun,
.moon {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    transition: top 0.3s;
    user-select: none;
}

.sun {
    top: 0;
}

.moon {
    top: -150%;
}

.toggle:checked+.toggle-label .sun {
    top: 150%;
}

.toggle:checked+.toggle-label .moon {
    top: 0;
}

.popover-content{
    // background-color: rgb(0, 0, 0);
    // justify-items: center;
    i{
        color: rgb(14,17,36);
        font-size: 30px;
    }
    div{
        display: flex;
        justify-content: center;
    }
    a{
        color: rgb(64, 74, 78) !important;
        font-size: 15px;
        padding : 5px !important;
        cursor: pointer;
        font-weight: 500;
    }
    a:hover{
        color: rgb(247, 11, 11) !important;
    }
}
.nav-category {
    font-weight: 500;
    margin-right: 20px;
    color: aliceblue;
}
.style-category-container{
    width: 100%;
    height: 50px;
    background:linear-gradient(to bottom right,#4fc4a6,#14366f); 
    border-radius: 5px;
}

// cart quantity
  #lblCartCount {
      font-size: 11px;
      background: #0026ff;
      color: #fff;
      padding: 2px 4px;
      vertical-align: top;
      margin-left: -5px; 
      padding-top: 0;
  }

  .dropdown-content {
    z-index: 2;
    position: absolute;
    width: 100%; /* Chiều rộng bằng container */
    color: white;
}

.menu-dropdown {
    background:linear-gradient(to bottom right,#4fc4a6,#14366f); 
    width: 100%;
    padding: 0px 10px;
    border-radius: 5px;
}

.menu-dropdown li {
    cursor: pointer;
    list-style: none; /* Xóa dấu chấm của mục trong menu */
}