<!-- <p>order-detail works!</p> -->
<!-- <div class="container-fluid"> -->

    <!-- <div class="container"> -->
      <!-- Title -->
      <!-- <div class="d-flex justify-content-between align-items-center py-3">
        <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> Đơn hàng #16123222</h2>
      </div> -->
    
      <!-- Main content -->
      <div class="row">
        <div class="col-lg-8">
          <!-- Details -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3 d-flex justify-content-between">
                <div>
                  <span class="me-3">{{orderInfo.order_date|date:'dd-MM-yyyy'}}</span>
                  <span class="me-3">#{{orderInfo.tracking_number}}</span>
                  <span class="me-3">Visa -1234</span>
                  <span class="badge rounded-pill bg-info">{{orderInfo.status|uppercase}}</span>
                  <!-- <button (click)="test()"> test</button> -->
                </div>
                <div class="d-flex">
                  <button class="btn btn-link p-0 me-3 d-none d-lg-block btn-icon-text"><i class="bi bi-download"></i> <span class="text">Hoá đơn</span></button>
                  <div class="dropdown">
                    <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                      <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                      <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                      <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <table class="table table-borderless">
                <tbody>
                  <tr *ngFor="let orderDetail of listOrderDetail">
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img [src]="orderDetail.product_image" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">{{orderDetail.product_name}}</a></h6>
                          <span class="small">Màu sắc: {{orderDetail.color}}</span>
                        </div>
                      </div>
                    </td>
                    <td>{{orderDetail.quantity}}</td>
                    <td class="text-end">{{orderDetail.total_money|currency:'VND'}}</td>
                  </tr>
                  <!-- <tr>
                    <td>
                      <div class="d-flex mb-2">
                        <div class="flex-shrink-0">
                          <img src="https://www.bootdey.com/image/280x280/FF69B4/000000" alt="" width="35" class="img-fluid">
                        </div>
                        <div class="flex-lg-grow-1 ms-3">
                          <h6 class="small mb-0"><a href="#" class="text-reset">Smartwatch IP68 Waterproof GPS and Bluetooth Support</a></h6>
                          <span class="small">Màu sắc: White</span>
                        </div>
                      </div>
                    </td>
                    <td>1</td>
                    <td class="text-end">$79.99</td>
                  </tr> -->
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Tạm tính</td>
                    <td class="text-end">{{orderInfo.total_money|currency:'VND'}}</td>
                  </tr>
                  <tr>
                    <td colspan="2">Phí vận chuyển</td>
                    <td class="text-end">$20.00</td>
                  </tr>
                  <tr>
                    <td colspan="2">Giảm giá (mã: NEWYEAR)</td>
                    <td class="text-danger text-end">-$10.00</td>
                  </tr>
                  <tr class="fw-bold">
                    <td colspan="2">TỔNG TIỀN</td>
                    <td class="text-end">$169,98</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- Payment -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <h3 class="h6">Phương thức thanh toán</h3>
                  <p>
                    Visa -1234 <br>
                    {{orderInfo.payment_method}}<br>
                    Tổng cộng: {{orderInfo.total_money|currency:'VND'}} <span class="badge bg-success rounded-pill">PAID</span>
                  </p>
                </div>
                <div class="col-lg-6">
                  <h3 class="h6">Địa chỉ thanh toán</h3>
                  <address>
                    <strong>{{orderInfo.fullname}}</strong><br>
                    {{orderInfo.address}}<br>
                    <abbr title="Phone">Số điện thoại:</abbr> {{orderInfo.phone_number}}
                  </address>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <!-- Customer Notes -->
          <div class="card mb-4">
            <div class="card-body">
              <h3 class="h6">Ghi chú của khách hàng</h3>
              <p>{{orderInfo.note||'Không có'}}</p>
            </div>
          </div>
          <div class="card mb-4">
            <!-- Shipping information -->
            <div class="card-body">
              <h3 class="h6">Thông tin vận chuyển</h3>
              <strong>{{orderInfo.shipping_method}}</strong>
              <span><a href="#" class="text-decoration-underline" target="_blank"> {{orderInfo.tracking_number}}</a> <i class="bi bi-box-arrow-up-right"></i> </span>
              <hr>
              <h3 class="h6">Địa chỉ</h3>
              <address>
                <strong>{{orderInfo.fullname}}</strong><br>
                {{orderInfo.address}}<br>
                <abbr title="Phone">Phone:</abbr> {{orderInfo.phone_number}}
              </address>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> -->
<!-- </div> -->