/* You can add global styles to this file, and also import other style files */
// css for dark mode
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
a{
  cursor: pointer;
}
  body.light-mode  {
    background: #dfe6e9;
    color: #2d3436;
  }
  body.dark-mode {
    // background: #2d3436;
    color: #dfe6e9;
  }
  body{
    min-height: 100vh;
    position: relative; // Đảm bảo rằng body::before sẽ lấy body làm phần tử cha tham chiếu cho vị trí tuyệt đối
    // overflow-x: scroll; /* Hiển thị thanh trượt ngang */
    // overflow-y: hidden; /* Ngăn chặn xuất hiện thanh trượt dọc */
    overflow-y: scroll; /* Luôn hiển thị thanh trượt dọc */
  }
  
  body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(rgb(14,17,36),rgb(36,26,73));
    opacity: 0;
    // transition: opacity 1s;
    z-index: -1;
  }
  body.transition::before {
    transition: opacity 1s;
  }
  
  body.dark-mode::before {
    opacity: 1;
  }
  .p-card .p-card-content {
    padding: 0 !important;
}