<div class="container">
    <div class="intro-section">
        <h1>Đây là trang Order</h1>
        <p>sử dụng bootstrap</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-thongtin">
                <h6>THÔNG TIN KHÁCH HÀNG</h6>
                <div class="form-control custom-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" placeholder="Họ và Tên">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" id="exampleInputSDT" aria-describedby="emailHelp" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nhập Email(Không bắt buộc)">
                        </div>
                    </div>
                </div>
                <h6>THÔNG TIN NHẬN HÀNG</h6>
                <div class="form-control custom-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" id="InputTinh_Thanhpho" placeholder="Tỉnh / Thành Phố">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" id="InputQuan_huyen" aria-describedby="emailHelp" placeholder="Quận / Huyện">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group ">
                            <input type="text" class="form-control custom-input" id="InputEmail" aria-describedby="emailHelp" placeholder="Phường/xã">
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="text" class="form-control custom-input" id="InputSoNha_tenduong" aria-describedby="emailHelp" placeholder="Số nhà,tên đường">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group ">
                            <input type="text" class="form-control custom-input" id="note" placeholder="Ghi chú (Nếu có)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-sanpham">
                <h6>THÔNG TIN ĐƠN HÀNG</h6>
                <div class="form-control custom-form">
                    <div class="product-order">
                        <div class="row mb-3 mx-auto">
                            <!-- Sản phẩm 1 -->
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mb-3 mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                        <div class="row mx-auto">
                    
                            <div class="col-md-3">
                                <img src="https://images.pexels.com/photos/249538/pexels-photo-249538.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                    alt="product" class="img-fluid">
                            </div>
                            <div class="col-md-9 d-flex justify-content-between">
                                <div>
                                    <h6>Tên sản phẩm</h6>
                                    <p>Giá: <span class="red-text">100.000đ</span></p>
                                </div>
                                <p>Số lượng: <span class="red-text">1</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-tongtien mt-auto" >
                <div class="tinhtien" >                
                    <h6>TỔNG TIỀN TẠM TÍNH:</h6>
                    <div class="giatien">
                       <p>100.000đ</p>
                    </div>
                </div>
                <button class="btn btn-danger">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>
