.intro-section{
  text-align: center;
  // color: white;
  padding: 20px;
}
.container form {
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background: #f4f7f8;
  color: #2D3436;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.form-container form .form-control {
    // margin-bottom: 20px;
  }
  .form-container form .btn {
    margin-top: 20px;
    width: 100%;
  }
  
  .form-container form .social-icons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-weight: 500;
  }
  .form-container form .custom-span{
    width: 100%; 
    align-items: center; 
    justify-content: space-between;
    margin-top: 20px;
  }
  .form-container form .custom-span span{
    flex-grow: 1; 
    border-bottom: 1px solid rgb(216, 215, 215);
  }
  
  .form-container form .d-flex .custom-checkout{
    margin-top: 20px;
  }
  .form-container form .custom-checkout {
    margin-top: 20px;
  }
  .forgot-password{
    width: 100%;
    text-align: right;
  }

  .contains-errors{
    height: 18px;
    width: 100%;;
    margin-bottom: 4px;
    margin-top: 4px;
  }
  .error-message {
    color: red;
    font-size: 12px;
    text-align: right;
}


  