.intro-section{
    text-align: center;
    // color: white;
    padding:20px 0px 20px 0px;
    justify-content:center; 
    align-items:center; 
}

.product-cart{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
// .wrapper{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     // flex-direction: column;
//     margin-top: 20px;
// }
.header-check-box{
    display: flex;
    align-items: center;
    // justify-content: center;
    // background: red;
}

.checkbox-round {
    width: 1.6em;
    height: 1.6em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    align-items: center;
    border: 2px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0       ;
}

.checkbox-round:checked {
    background-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 1); /* Tạo hiệu ứng bóng mờ */
    border: 2px solid white;
}
.header-check-box p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-left: 10px;
}
.wrapper {
    width: 600px;

  
    @media (max-width: 600px) {
      width: 100%;
    }
  }
// css for form product
  .custom-form{
    border: 1px solid rgb(214, 214, 216);
    margin-block-end: 20px;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
}
.custom-info{
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // margin-right: 20px;
}
//css for form product-test
// .form-control.custom-form {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 10px;
//     border: 1px solid #ccc;
// }

.product-cart-item__img img {
    width: 100px;
    height: 100px;
}

.product-cart-item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.product-cart-item__title {
    margin: 0;
    font-size: 18px;
    // font-weight: bold;
}

.product-cart-item__price {
    color: #f00;
    margin: 10px 0;
}

.product-cart-item__quantity {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.product-cart-item__quantity button {
    // background: none;
    // border: 1px solid #ccc;
    // padding: 5px;;
}

.product-cart-item__quantity input {
    width: 50px;
    margin: 0 10px;
}

.product-cart-item__delete img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.product-cart-item {
    width: 100%;
}
//css for form tinh tien
.tinhtien p{
    margin: 0;
    color: #f00;
}
.form-tongtien .btn{
    height: 50%;
}
@media screen and (max-width: 2000px){
    .form-tongtien {
      position: sticky;
    //   position: fixed;
      bottom: 0;
      width: 100%;
    //   max-width: 100%;
      box-sizing: border-box;
      overflow-x: auto;
      background-color: white;
      border-radius: 5px;
      box-shadow: #766db1 0px 0px 10px;
      padding: 5px;
      color: #1C173C;
    }
  }


  //// test css btn
$d: 2em;
$t: .3s;
$c: #fcfcfc #d2dae6;

$o: .125*$d;

button.change-quantity{
	--i: var(--light, 0);
	--not-i: calc(1 - var(--i));
	--j: var(--press, 0);
	--not-j: calc(1 - var(--j));
	z-index: var(--i);
	border: none;
	width: $d; height: $d;
	border-radius: 15%;
	transform: scale(calc(1 - var(--j)*.02));
	box-shadow:  
		calc(var(--not-j)*#{-$o}) calc(var(--not-j)*#{-$o}) #{$o} #{rgba(nth($c, 1), var(--not-j))}, 
		calc(var(--not-j)*#{$o}) calc(var(--not-j)*#{$o}) #{$o} #{rgba(nth($c, 2), var(--not-j))}, 
		inset calc(var(--j)*#{$o}) calc(var(--j)*#{$o}) #{$o} #{rgba(nth($c, 2), var(--j))}, 
		inset calc(var(--j)*#{-$o}) calc(var(--j)*#{-$o}) #{$o} #{rgba(nth($c, 1), var(--j))};
	background: #e8e8e8;
	font-size: 1.2em;
	transition: box-shadow $t, transform $t cubic-bezier(.2,4,1,3);
	cursor: pointer;
	
	&::after {
		filter: 
			Contrast(0) 
			Sepia(var(--i)) 
			Hue-Rotate(calc(var(--hue) - 50deg))
			Saturate(5)
			Opacity(calc(var(--i) + .21*var(--not-i)))
			Drop-Shadow(1px 1px hsla(0, 0%, 100%, var(--not-i)));
		transition: filter $t;
		content: attr(data-ico)
	}
	
	&:focus { outline: none }
	&:hover, &:focus { --light: 1 }
	&:active { --press: 1 }
}